# ==========================
# SISTEMA
# ==========================

.DS_Store
Thumbs.db
desktop.ini

# ==========================
# EDITORES
# ==========================

.vscode/
.idea/

# ==========================
# LOGS
# ==========================

*.log

# ==========================
# CACHE
# ==========================

.cache/
temp/
tmp/

# ==========================
# INSTALADORES
# ==========================

*.exe
*.msi

# ==========================
# ARQUIVOS COMPACTADOS
# ==========================

*.zip
*.rar
*.7z

# ==========================
# ARQUIVOS DE DESIGN
# ==========================

*.psd
*.ai
*.cdr

# ==========================
# NODE (para o futuro)
# ==========================

node_modules/

# ==========================
# AMBIENTE
# ==========================
8
.env
.env.local
